<!DOCTYPE html>
<html>
    <head>
        <title>Birth of Artemis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="crypto, nss, space, genesis">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle_log.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <center>
            <h1>Our team:</h1>
        </center>
    </body>
</html>