<!DOCTYPE html>
<html>
    <head>
        <title>Birth of Artemis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="crypto, nss, space, genesis">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle_page.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <script src="{{url_for('static', filename='Scripturi/script_log.js')}}"></script>
            <div class="navbar" method="post">
                <div class="logo"><a href="">Birth Of Artemis</a></div>
                <button class="wallet" onClick="check_wallet()">Balance: {{account['wallet']}}</button>
            </div>
            <center>
                <div class="menu">
                    <button class="shop"><img src="{{url_for('static', filename='Imagini/cart.png')}}"></img><br>Shop</button>
                    
                    <button class="transactions"><img src="{{url_for('static', filename='Imagini/his.png')}}"></img><br>Transactions</button>
                    <br><br>
                    <button class="cryp"><img src="{{url_for('static', filename='Imagini/work.png')}}"></img><br>Work</button>
                    <button class="mail"><img src="{{url_for('static', filename='Imagini/mail.png')}}"></img><br>Mail</button>
                </div>
            </center>
            <div class="frumi"><h2>{{account['username']}}</h2></div>
            
    </body>

</html>
