<!DOCTYPE html>
<html>
    <head>
        <title>Birth of Artemis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="crypto, nss, space, genesis">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle_log.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <script src="{{url_for('static', filename='Scripturi/script_log.js')}}"></script>
        <center>
            <img class ='poza' src="{{url_for('static', filename='Imagini/Artemis.png')}}">   
            <div class="login">
                    <form method="post">
                        <div class="msg">{{ msg }}</div>
                        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                        <input id="Password" name="Password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                        <input id="verif" type="text" name="verif" placeholder="Verification Code"><br><br>
                        <input id="cnp" type="text" name="cnp" placeholder="Personal Code"><br><br>
                        <input type="submit" name="register" placeholder="register"></input>
                    </form>
            </div>
        </center>
    </body>

</html>
