<!DOCTYPE html>
<html>
    <head>
        <title>Birth of Artemis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="crypto, nss, space, genesis">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle_wallet.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div method="post">
            <script   script src="{{url_for('static', filename='Scripturi/script_log.js')}}"></script>
            <div class="navbar" method="post">
                <div class="logo"><a href="">Birth Of Artemis</a></div>
            </div>
            <div class="frumi">
                <h2>{{account['username']}}</h2>
            </div>
            <center>
            <div class="bai">
                <h2>{{account['wallet']}}</h2>
            </div>
            </center>
        </div>
    </body>

</html>
